body {
	background: url('../images/bg.gif') fixed 0 0 #F4F5DE;
	padding: 20px;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
}

nav {
	margin-top: 20px;
	text-align: center;

	ul {
		display: inline-block;

		li {
			float: left;
			margin: 0 15px;
			display: block;

			a {
				font-size: 24px;
				color: #222222;
				font-family: 'Oswald', sans-serif;
				text-shadow: 1px 1px #FFFFFF;
				text-transform: uppercase;

				&.active {
					color: #E44A4A;
				}
				&:hover {
					color: #E44A4A;
					text-decoration: none;
				}
			}
		}
	}
}

hr {
	clear: both;
	margin: 15px auto;
	height: 1px;
	background-color: #CCCCCC;
	border: 0;
	border-bottom: 1px solid #FFFFFF;
}

#content {
	margin: 15px auto;
	display: inline-block; /*Bit hacky, margin collapse isn't nice*/
	width: 100%;
}

.case {
	margin-bottom: 30px;
}
	.case_img_a {
		border: 5px solid #E2E3CE;
		margin-bottom: 5px;
		display: block;
	}
		.case_img_a:hover {
			border: 5px solid #AFB09E;
			text-decoration: none;
		}

	.case_img {
		width: 100%;
		height: auto;
	}
	.case_title {
		font-weight: bold;
		font-size: 14px;
		color: #111111;
		text-shadow: 1px 1px #FFFFFF;
		padding: 3px 0;
	}
		.case_title:hover {
			background-color: #E2E3CE;
			text-decoration: none;
		}
	.case.last {
		margin-right: 0;
	}
	
/** SOCIAL **/
#social {
	float: left;
	margin-right: 75px;
}
	.social_icon_li {
		margin-bottom: 5px;
		display: inline;
	}
		.social_icon_img {
			display: inline;
			vertical-align: text-bottom;
		}
		.social_icon_a {
			display: inline;
			margin-left: 5px;
			vertical-align: baseline;
			line-height: 25px;
		}
		.social_icon_hover .social_icon_a {
			text-decoration: underline;
			display: inline;
		}
	
/** FORM **/
.contact_input {
		width: 200px;
		margin: 5px 0;
		padding: 5px;
	}
		.contact_input.false {
			display: none;
		}
		.contact_input.message {
			height: 70px;
			width: 230px;
		}
#submit {
	display: block;
	border: 0;
	color: #FFFFFF;
	background-color: #222222;
	padding: 5px 15px;
	cursor: pointer;
}
	#contact_succes {
		display: none;
	}
label.error {
	margin-left: 10px;
}