.main-menu {
  margin-left: auto;

  @include respond-below(md) {
    display: none;
  }

  .scroll & a.active {
    color: $primary;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }

  li:not(:last-child) {
    margin-right: 1rem;
  }
}