.main-menu {
  margin-left: auto;
  .scroll & a.active {
    color: $primary;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }

  li:not(:last-child) {
    margin-right: 1rem;
  }
}

.main-menu .nav-toggler {
  display: none;
}

// Mobile menu
@include respond-below(md) {
  .main-menu {
    .nav-toggler {
      display: block;
      color: $black;
      background-color: transparent;
    }

    ul {
      width: 50vw;
      height: calc(100vh - 61px);
      position: fixed;
      top: 61px;
      right: 0;
      text-align: right;
      transform: translateX(100%);
      flex-direction: column;
      transition: .2s;
      padding: 1rem;
      margin: 0;

      li:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  main {
    transition: .2s;
  }

  body.menu-toggled {
    .main-menu ul {
      transform: translateX(0);
    }
    
    main {
      transform: translateX(-50vw);
      position: relative;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($black, .2);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}