// Backgrounds
.bg-lightgray {
  background-color: $lightgray;
}

.bg-green {
  background-color: $lightgreen;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-blue {
  background-color: $lightblue;
}