// Colors
$black: #222222;
$white: #fbfbfb;
$gray: #868686;
$lightgray: #f4f4f0;
$lightgreen: #bcd6c1;
$lightblue: #BBD3E8;
$yellow: #f9cc7b;

$primary: #F4712F;
$link-color: $primary;

// Fonts
$font-title: 'Noto Sans KR', sans-serif;
$font-body: 'Open Sans', sans-serif;

// Grid
$container-width: 1140px;
$content-row-padding: 5vw;
$hero-padding: 8vh;

// Breakpoints
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);