body {
	background: url('../static/images/bg.gif') 0 0 #F4F5DE;
	padding: 20px;
}

ul { display: inline-block; }

#wrapper {
	max-width: 960px;
	margin: 0 auto;

	header { height: 30px; }
}

article {

	img {
		width: 100%;

		&+p { margin-top: 1em; }
	}

	section { float: left; }
}

nav#main {
	clear: left;
	float: left;
	margin: 10px 0;

	li {
		float: left;
		margin: 5px 15px 0 0;
		display: block;

		&:last-child { margin-right: 0; }

		a {
			font-size: 18px;
			color: #222222;
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;

			&.active, &:hover {
				color: #E44A4A;
				text-decoration: none;
			}
		}
	}
}
nav#cases {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;

	a {
		display: inline-block;
		padding: 5px;
		margin: 5px 0;
		background-color: #222;
		color: #ffffff;
		border-radius: 3px;

		&:hover {
			background-color: #E44A4A;
			text-decoration: none;
		}
	}
}

hr {
	clear: both;
	margin: 15px auto;
	height: 1px;
	background-color: #CCCCCC;
	border: 0;
	border-bottom: 1px solid #FFFFFF;
}

#content {
	margin: 15px auto;
	display: inline-block; /*Bit hacky, margin collapse isn't nice*/
	width: 100%;
}

#welcome { margin: 2em auto; }

.case {
	margin-bottom: 30px;
	
	p a {
		display: inline-block;

		&:hover { text-decoration: underline; }
	}

	a {
		display: block;

		&:hover {
			text-decoration: none;

			img { border: 5px solid #AFB09E; }
		}

		img {
			border: 5px solid #E2E3CE;
			margin-bottom: 1em;
			width: 100%;
			height: auto;
		}
	}

}

.single {

	& > a {
		display: inline-block;
		margin-bottom: 1em;
	}
	
	// I love SASS for this
	// Giving images a margin
	// Except if they're in a figure
	figure, img {
		box-shadow: 0 0 4px #aaa;
		margin: 1em 0;

		img { margin: 0; }
		
		figcaption {
			background-color: #ffffff;
			padding: 15px;
			font-size: .875em;
		}
	}

	aside img { margin: 2em 0 1em; }
}
	
/** FORM **/
.contact_input {
	width: 200px;
	margin: 5px 0;
	padding: 5px;
}
.contact_input.false {
	display: none;
}
.contact_input.message {
	height: 70px;
	width: 230px;
}
#submit {
	display: block;
	border: 0;
	color: #FFFFFF;
	background-color: #222222;
	padding: 5px 15px;
	cursor: pointer;
}

/** ICONS **/
// Here because the styles are specific to the icons loaded
// And not to load and insert them like in icons.css
[class^="icons-"]:before, [class*=" icons-"]:before,
[class^="icons-"]:after, [class*=" icons-"]:after {
	margin-right: 5px;
	color: #222222;
}
.icons-mail:before { font-size: 14px; }
.icons-google:before { color: #dd4b39; }
.icons-linkedin:before { color: #107fb7; }

#contact_succes { display: none; }
label.error { margin-left: 10px; }